NODE_ENV=development
PORT=3000
SERVER_URL=Server_url
DATABASE_URL=dpostgresql://<username>:<password>@<host>:<port>/<database>
JWT_ACCESS_SECRET=JWT_secret_key
JWT_REFRESH_SECRET=JWT_secret_key
RESEND_API_KEY=resentemial_api
CLIENT_URL=http://localhost:5173/